.header > img {
  width: 200px;
}

.header {
  text-align: center;
  margin-top: 2%;
}

.header > nav {
    background-color: black;
    text-align: left;
}
  
  nav > a {
    color: white;
    line-height: 50px;
    margin-right: 10px;
    text-decoration: none;
    padding: 5px;
  }

  nav > a:hover {
    background-color: lightgrey;
  }